<nav class="navbar navbar-findcond navbar-fixed-top">
    <div class="container">
		<div class="navbar-header">
			<button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar">
				<span class="sr-only">Toggle navigation</span>
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
			</button>
			<a class="navbar-brand" href="/index.html" style="font-size: 25px">ReBOOK</a>
		</div>
		<div class="collapse navbar-collapse" id="navbar">
			<ul class="nav navbar-nav navbar-right">
				<li class="active"><a href="/contact.html">연락 <span class="sr-only">(current)</span></a></li>
				<li class="dropdown">
					<a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">게시판 <span class="caret"></span></a>
					<ul class="dropdown-menu" role="menu">
						<li><a href="/list">책 게시판</a></li>
						<li><a href="/list_board">자유게시판</a></li>
			        </ul>
				</li>
				<li class="dropdown">
				<li><a href="/faq.html">FAQ</a></li>
				</li>
				<% if user_signed_in? %>
                  <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false"><%= current_user.name %><span class="caret"></span></a>
                    <ul class="dropdown-menu" role="menu">
                      <li><a href="/mypage.html">My page</a></li>
                      <li><%= link_to "My Profile", edit_user_registration_path %></li>
                      <li><%= link_to "Sign out", destroy_user_session_path, method: :delete, data: { confirm: "Are you sure?" } %></li>

                    </ul>
                  </li>
                <% else %>
                  <li><%= link_to "로그인", new_user_session_path %></li>
                  <li><%= link_to "회원가입", new_user_registration_path %></li>
                <% end %>
            </ul>
		</div>
	</div>
</nav>