    <!-- Page Content -->
    <div class="container">
       <!--count메소드-->
        <!-- Page Heading/Breadcrumbs -->
        <div class="row">
            <div class="col-lg-12">
                <h1 class="page-header"><%= @one_book.bookname %>
                    <small><%= @one_book.subject %></small>
                </h1>
                <ol class="breadcrumb">
                    <li><a href="/index.html">Home</a>
                    </li>
                    <li class="active"><%= @one_book.bookname %></li>
                </ol>
            </div>
        </div>
        <!-- /.row -->

        <!-- Portfolio Item Row -->
        <div class="row">

            <div class="col-md-8">
                <div id="carousel-example-generic" class="carousel slide" data-ride="carousel">
                    <!-- Indicators -->
                    <ol class="carousel-indicators">
                        <li data-target="#carousel-example-generic" data-slide-to="0" class="active"></li>
                        <li data-target="#carousel-example-generic" data-slide-to="1"></li>
                        <li data-target="#carousel-example-generic" data-slide-to="2"></li>
                    </ol>

                    <!-- Wrapper for slides -->
                    <div class="carousel-inner">
                        <div class="item active">
                            <img class="img-responsive" style="width:750px; height:500px" src="<%= @one_book.first_image_url %>" alt="">
                        </div>
                        <div class="item">
                            <img class="img-responsive" style="width:750px; height:500px" src="<%= @one_book.second_image_url %>" alt="">
                        </div>
                        <div class="item">
                            <img class="img-responsive" style="width:750px; height:500px" src="<%= @one_book.third_image_url %>" alt="">
                        </div>
                    </div>

                    <!-- Controls -->
                    <a class="left carousel-control" href="#carousel-example-generic" data-slide="prev">
                        <span class="glyphicon glyphicon-chevron-left"></span>
                    </a>
                    <a class="right carousel-control" href="#carousel-example-generic" data-slide="next">
                        <span class="glyphicon glyphicon-chevron-right"></span>
                    </a>
                </div>
            </div>
            
            <div class="col-md-4">
                <h3><%= @one_book.bookname %></h3>
                <p><%= @one_book.detail %></p>
                <br>
                <ul>
                <span style="font-size:20px;">
                    <li>저자: <%= @one_book.writer %></li>
                    <li>강의명: <%= @one_book.lesson %></li>
                    <li>출판사: <%= @one_book.publish %></li>
                    <% if user_signed_in? %>
                        <li>전화번호: <%= @one_book.phone_number %></li>
                        
                        
                        <% if @one_book.user_id == current_user.id %>
                              <a href="/update_book_view/<%= @one_book.id %>" class="btn btn-default">수정</a>
                              <a href="/delete_book/<%= @one_book.id %>" onclick="return confirm('파일을 삭제하시겠습니까?');" class="btn btn-default">파일삭제</a>
                              <a href="/clean/<%= @one_book.id %>" class="btn btn-default">판매 완료</a>
                                
                        <% end %>
                    <% end %>
                    
                    <% unless user_signed_in? %>
                    
                    <% end %>
                
                </ul>
                </span>
            </div>

        </div>
     
        <hr>
        <form action ="/bookreply" method="POST">
              <div class="form-group">
                  <div class="well">
                        <input type="hidden" value="<%=@one_book.id%>" name="book_id"> 
                        <input type="text" class="form-control" name="content">
                  </div>
            	<% if user_signed_in? %>      
	        	  <button type="submit" class="btn btn-default" style ="margin-top: 15px; margin-left:1044px" style="align:left" >댓글달기</button>
		        <% else %>
	            
	            <% end %>
		          <div style="margin-top:100px">
		              
		          
    		         <table class="table" style="margin-bottom:150px;"> 
                           <% @one_book.bookreplies.each do |r| %>
                           <tr>
                          <td><p><%= r.user.name%>:</p><p><%= r.content %></p></td>
                          </tr>
                            <% end %>
                     </table>   
                  </div>
		      </div>    
		 </form>  





         
    </div>
    



